@use 'base';

.footer {
    background-color: base.$aurora-green;
    color: base.$lightgray;
    padding: 10px;
    line-height: 1.5;
    margin-top: 50px;

    div {
        margin: auto;
        max-width: 1080px;

        p {
            font-size: 16px;
            text-decoration: underline;
        }
        a {
            font-size: 14px;
            color: base.$aurora-teal;
        }
    }
}