@use 'base';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: base.$dark-blue;
}

li {
  color: white;
}

.kp_1 {
  width: 11%;
}
.kp_2 {
  width: 22%;
}
.kp_3 {
  width: 33%;
}
.kp_4 {
  width: 44%;
}
.kp_5 {
  width: 55%;
}
.kp_6 {
  width: 66%;
}
.kp_7 {
  width: 77%;
}
.kp_8 {
  width: 88%;
}
.kp_9 {
  width: 99%;
}