.jumbotron {
    position: relative;
    padding-top: 16px;
    margin-bottom: 5px;
    img {
        width: 100%;
        height: auto;
    }
    // .label {
    p {
        color: #09DFD2;
        // position: absolute;
        width: 100%;
        // top: 45px;
        // right: 20px;
        text-align: right;
        font-family: 'Germania One', cursive;
        font-size: 24px;
        filter: blur(1px);
        opacity: 0.5;
    }
}