@use 'base';

.recent_kp {
    @include base.font-style();
    background-color: base.$aurora-green;
    font-size: 12px;
    width: 100%;
    padding: 8px;

    div {
        margin: auto;
        max-width: 1080px;
    }

    @media screen and (min-width: base.$medium) {
        font-size: 16px;
    }
}

.jumbotron {
    // position: relative;
    padding-top: 16px;
    padding-bottom: 50px;
    background-image: url(../public/pictures/nicolas-j-leclercq-715306-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;

    div {
        margin: auto;
        max-width: 1080px;

        p {
            color: base.$aurora-teal;
            text-align: right;
            font-family: 'Germania One', cursive;
            font-size: 24px;
            filter: blur(1px);
            opacity: 0.5;
            margin: 5px;

            @media screen and (min-width: base.$medium) {
                font-size: 46px;
                margin: 15px;
            }

            @media screen and (min-width: base.$large) {
                font-size: 70px;
            }
        }
    }
}